{% extends "base_essays.html" %}
{% block title %}Essays for assignment {{ assignmentTitle }}{% endblock %}
{% block content %}
<div id="container">   
    <h1>Essay of {{ row['student_name'] }} for {{ assignmentTitle }}</h1>
    <br/>
    <b>Grade</b> : {{ row['grade'] }}<br/>
    <b>Submitted</b> : {{ row['submitteddatetime'] }}<br/>
    <br/>

    <button class="btn" onclick="document.location='adminviewessay?assignmentid={{ assignmentid }}&essayid={{ previousid }}'">&lt; Previous</button>
    <button class="btn" onclick="document.location='adminviewessay?assignmentid={{ assignmentid }}&essayid={{ nextid }}'">Next &gt;</button>
    <button class="btn" onclick="document.location='adminessayresults?assignmentid={{ assignmentid }}'">Up &uarr;</button>

    <br/>
    <br/>
    {{ row['essay_text'] | e }}
    <br/>

   	   <table class="data_table">
	        <tr>
	             <th>Positive comments</th>
	        </tr>
	        {% for row in positive %}
	            <tr class="{{ loop.cycle('oddrowcolor', 'evenrowcolor') }}">
	                     <td>{{ row['comment_text'] | e }}</td>
	            </tr>   
	        {% endfor %}
	    </table>
	<br/>
	    <table class="data_table">
	        <tr>
	             <th>Constructive comments</th>
	        </tr>
	        {% for row in constructive %}
	            <tr class="{{ loop.cycle('oddrowcolor', 'evenrowcolor') }}">
	                     <td>{{ row['comment_text'] | e}}</td>
	            </tr>   
	        {% endfor %}
	    </table>
 
</div>
{% endblock %}




