{% extends "base.html" %}
{% block js %}
    <link rel="stylesheet" href="js/jquery.notice.css"/>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.notice.js"></script>
    <script type="text/javascript">
        function showmessage(message){
		    jQuery.noticeAdd({
                text: message,
                stay: false
             });
        }
    </script>    
{% endblock %}
{% block title %}Assignments{% endblock %}

{% block onload %} 
    {%if message != "" %}
       javascript:showmessage('{{message}}');
    {% endif %}
{% endblock %}

{% block navigation %}
	<li><a href="#">Home</a></li>
	<li><a href="#">About</a></li>
	<li><a href="/login">Student</a></li>
	<li><a href="#">Logout</a></li>
{% endblock %}

{% block content %}
<div id="container">   
    <h1>Assignments</h1>
    <p><button id='addnew' onclick="javascript:document.location='admineditassignment?oper=addnew'">+ Add New</button></p>
    <br/>

    <table class="data_table">
        <tr>
        {% for col in ['Id','Title','Description','State','Date','Duration','Action'] %}
             <th>{{ col }}</th>
        {% endfor %}
        </tr>
        {% for row in rows %}
            <tr class="{{ loop.cycle('oddrowcolor', 'evenrowcolor') }}">
            {% for col in ['id','title','description','state','startdatetime','duration'] %}
                <td>{{ row[col] }}</td>
            {% endfor %}
                <td>
                    {% if row['state']=='COMPLETED' %}
                          <button class="btn" onclick="document.location='adminessayresults?assignmentid={{ row['id'] }}&complete=1'">View</button> 
                          <button class="btn" onclick="javascript:document.location='admineditassignment?assignmentid={{ row['id'] }}&oper=del'">Del</button> 
                    {% endif %}
                    {% if row[3]=='READY' %}
                          <button class="btn" onclick="javascript:document.location='adminopassignment?assignmentid={{ row['id'] }}&oper=busy'">Start</button>
                          <button class="btn" onclick="javascript:document.location='admineditassignment?assignmentid={{ row['id'] }}&oper=toedit'">Edit</button>
                          <button class="btn" onclick="javascript:document.location='admineditassignment?assignmentid={{ row['id'] }}&oper=del'">Del</button> 
                    {% endif %}
                    {% if row[3]=='BUSY' %}
                          <button onclick="javascript:document.location='adminopassignment?assignmentid={{ row['id'] }}&oper=marking'">Mark</button>
                          <button class="btn" onclick="javascript:document.location='adminopassignment?assignmentid={{ row['id'] }}&oper=ready'">Cancel</button>
                          <button class="btn" onclick="document.location='adminessayresults?assignmentid={{ row[0] }}&complete=0'">View</button> 
                    {% endif %}
                    {% if row[3]=='MARKING' %}
                          <button class="btn" onclick="javascript:document.location='adminopassignment?assignmentid={{ row['id'] }}&oper=complete'">Complete</button>
                          <button class="btn" onclick="javascript:document.location='adminopassignment?assignmentid={{ row['id'] }}&oper=ready'">Cancel</button>
                          <button class="btn" onclick="document.location='adminessayviewmarking?assignmentid={{ row[0] }}'">View</button>                           
                    {% endif %}

                </td> 
            </tr>   
        {% endfor %}
    </table>
</div>
{% endblock %}




