{% extends "base.html" %}
{% block title %}Essays for assignment {{ assignmentTitle }}{% endblock %}
{% block navigation %}
	<li><a href="#">Home</a></li>
	<li><a href="#">About</a></li>
	<li><a href="/login">Student</a></li>
	<li><a href="#">Logout</a></li>
{% endblock %}
{% block content %}
<div id="container">   
    <h1>Essays for assignment {{ assignmentTitle }}</h1>
    <button class="btn" onclick="document.location='admin'">Up</button>
    <button class="btn" onclick="javascript:document.getElementById('calcmarksdiv').style.display = 'block';">Calculate marks</button>
    <br/>    <br/>
    <div id="calcmarksdiv" style="display: none;">
        <form name="calcmarks" action="adminsubmitmarks">
            <input type="hidden" name="assignmentid" value="{{ assignmentid }}"/>
            <table class="data_table">
                 <tr>
                    <th>Item</th><th>Lowest</th><th>Highest</th>
                 </tr>   
                 <tr>
                    <td>Score</td><td>{{ lowscore }}</td><td>{{ highscore }}</td>
                 </tr>
                 <tr>
                    <td>Grade</td>
                          <td><input type="text" name="lowgrade" value="{{ lowgrade }}"/></td>
                          <td><input type="text" name="highgrade" value="{{ highgrade }}"/></td>
                 </tr>
                    
            </table>
            <input type="submit" value="Save">
        </form>
    </div>    
    <br/>

    <table class="data_table">
        <tr>
        {% for col in ['Student','Submitted','Score','Grade','Essay','Comment Count','Action'] %}
             <th>{{ col }}</th>
        {% endfor %}
        </tr>
        {% for row in rows %}
            <tr class="{{ loop.cycle('oddrowcolor', 'evenrowcolor') }}">
                {% for key in ['student_name','submitteddatetime','score','grade'] %}
                     <td>{{ row[key] }}</td>
                {% endfor %}
                <td>{{ row['essay_text'][:20].ljust(20) }} </td>
                 <td>{{ row['comment_count'] }} </td>
                <td><button class="btn" onclick="document.location='adminviewessay?assignmentid={{ assignmentid }}&essayid={{ row['id'] }}'">View</button></a></td>
            </tr>   
        {% endfor %}
    </table>
</div>
{% endblock %}




