{% extends "base.html" %}
{% block title %}Assignment - {{ asm['title'] }}{% endblock %}
{% block js %}
<link rel="stylesheet" href="js/jquery.counter-analog.css"/>
<script src="js/jquery.js"></script>
<script src="js/jquery.counter.js"></script>
<script src="js/ase.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		var t;
		function showtimer(){
  			t=countdown('countdown', 0, {{ timeremaining }});
  		}
		showtimer();
		$('#countdown').html(t);
		$('#countdown').counter({});
	});
</script>

{% endblock %}

{% block onload %} 
javascript:showtimer()
{% endblock %}

{% block navigation %}
	<li><a href="#">Home</a></li>
	<li><a href="#">About</a></li>
	<li><a href="/englishessay/admin">Admin</a></li>
	<li><a href="/login">Logout</a></li>
{% endblock %}
{% block content %}

<div id="container">   
    <h1>Assignment for {{ username }}</h1>
     <div id="countdown" class="counter counter-analog" data-direction="down" data-format="23:59:59" align="right"></div>
      <form action="submitAssignment" method="post">
          <input type="hidden" name="assignmentid" value="{{ asm['id'] }}"/>
          <table>
          <tr><td><b>Title</b></td><td>{{ asm['title'] }}</td></tr>
          <tr><td><b>Description</b></td><td>{{ asm['description'] }}</td></tr>
          </table>
          <textarea name="essay_text" rows=15 cols=80>{{ essay_text }}</textarea><br> 
          <input type="submit" class="btn" name="bsubmit" value="Save"></input>    
      </form>

    <br/><br/>

</div>
{% endblock %}




