{% extends "base.html" %}
{% block title %}Assignment - {{ asm['title'] }}{% endblock %}

{% block content %}
<div id="container">   
    <h1>Student Marking: {{ username }}</h1>

      <form action="evalEssay" method="post">
          <input type="hidden" name="essayeval_id" value="{{ essayeval_id }}"/>
          <table>
          <tr><td><b>Title</b></td><td>{{ asm['title'] }}</td></tr>
          <tr><td><b>Description</b></td><td>{{ asm['description'] }}</td></tr>
          </table>
          <br><b>Essay 1:</b><br>

          {{ essay1_text }}
          <div class="comment">
          <form action="#">
          	<label>Positive comment</label>
            <textarea name="limitedtextarea" onKeyDown="limitText(this.form.limitedtextarea,this.form.countdown,100);" 
onKeyUp="limitText(this.form.limitedtextarea,this.form.countdown,100);"></textarea>
            <label class="sub">(Maximum characters: 140), you have <input readonly type="text" name="countdown" size="3" value="140"> characters left</label>
            <input type="submit" value="Save comment"/>
          </form>
          <br/><br/>
          <form action="#">
          	<label>Constructive comment</label>
            <textarea name="limitedtextarea" onKeyDown="limitText(this.form.limitedtextarea,this.form.countdown,140);" 
onKeyUp="limitText(this.form.limitedtextarea,this.form.countdown,140);"></textarea>
            <label class="sub">(Maximum characters: 140), you have <input readonly type="text" name="countdown" size="3" value="140"> characters left</label>
            <input type="submit" value="Save comment"/>
          </form>
          </div>
          <br>
          <br><b>Essay 2:</b><br>
          {{ essay2_text }}
          <div class="comment">
          <form action="#">
          	<label>Positive comment</label>
            <textarea name="limitedtextarea" onKeyDown="limitText(this,this.form.countdown,140);" 
onKeyUp="limitText(this,this.form.countdown,140);"></textarea>
             <label class="sub">(Maximum characters: 140), you have <input readonly type="text" name="countdown" size="3" value="140"> characters left</label>
            <input type="submit" value="Save comment"/>
          </form>
          <br/>
          <form action="#">
          	<label>Constructive comment</label>
            <textarea name="limitedtextarea" onKeyDown="limitText(this,this.form.countdown,140);" 
onKeyUp="limitText(this,this.form.countdown,140);"></textarea>
             <label class="sub">(Maximum characters: 140), you have <input readonly type="text" name="countdown" size="3" value="140"> characters left</label>
            <input type="submit" value="Save comment"/>
          </form>
          </div>
          <br><br>
          <b>Essay 1</b>
             {% for i in range(11) %}
              <input type="radio" name="scorerange" value="{{ i/10.0 }}" class="score" {% if(i == score*10) %} checked="checked" {% endif %} /> 
             {% endfor %}

          <b>Essay 2</b> <br/><br/>
          <input type="submit" name="bsubmit" value="Next >"></input>    

      </form>

    <br/><br/>
<script language="javascript" type="text/javascript">
function limitText(limitField, limitCount, limitNum) {
	if (limitField.value.length > limitNum) {
		limitField.value = limitField.value.substring(0, limitNum);
	} else {
		limitCount.value = limitNum - limitField.value.length;
	}
}
</script>
</div>
{% endblock %}





