{% extends "base.html" %}
{% block title %}Essays for assignment {{ assignmentTitle }}{% endblock %}
{% block navigation %}
	<li><a href="#">Home</a></li>
	<li><a href="#">About</a></li>
	<li><a href="/englishessay/admin">Admin</a></li>
	<li><a href="#">Logout</a></li>
{% endblock %}
{% block content %}
<div id="container">   
    <h1>Essay for {{ assignmentTitle }}</h1>
    <br/>
    <b>Grade</b> : {{ row['grade'] }}<br/>
    <b>Submitted</b> : {{ row['submitteddatetime'] }}<br/>
    <br/>

    <button class="btn" onclick="document.location='viewessay?essayid={{ previousid }}'">&lt; Previous</button>
    <button class="btn" onclick="document.location='viewessay?essayid={{ nextid }}'">Next &gt;</button>
    <button class="btn" onclick="document.location='index'">Up &uarr;</button>
<br/>
    <br/>
    {{ row['essay_text'] | e }}
    <br/>
    <br/>
    <table class="data_table">
        <tr>
             <th>Positive comments</th>
        </tr>
        {% for row in positive %}
            <tr class="{{ loop.cycle('oddrowcolor', 'evenrowcolor') }}">
                     <td>{{ row['comment_text'] | e }}</td>
            </tr>   
        {% endfor %}
    </table>
<br/>
    <table class="data_table">
        <tr>
             <th>Constructive comments</th>
        </tr>
        {% for row in negative %}
            <tr class="{{ loop.cycle('oddrowcolor', 'evenrowcolor') }}">
                     <td>{{ row['comment_text'] | e}}</td>
            </tr>   
        {% endfor %}
    </table>

 
</div>
{% endblock %}




