{% extends "base.html" %}
{% block title %}Welcome {{ username }}{% endblock %}
{% block navigation %}
	<li><a href="#">Home</a></li>
	<li><a href="#">About</a></li>
	<li><a href="/englishessay/admin">Admin</a></li>
	<li><a href="/login">Logout</a></li>
{% endblock %}
{% block content %}
<div id="container">   
    <h1>Welcome {{ username }}</h1>
    <p>Here is a list of your previous assignments
    <table class="data_table">
        <tr>
        {% for col in ['Submitted','Grade','Essay','Action'] %}
             <th>{{ col }}</th>
        {% endfor %}
        </tr>
        {% for row in rows %}
            <tr class="{{ loop.cycle('oddrowcolor', 'evenrowcolor') }}">
                <td>{{row['submitteddatetime'] }}</td>
                {% for key in ['grade'] %}
                    {% if row[key] == None %}
                        <td>{{ row[key] }}</td>
                     {% else %}
                        <td>{{ row[key] | round }}</td>                     
                     {% endif %}
                {% endfor %}
                <td>{{ row['essay_text'][:20].ljust(20) }} </td>
                <td><button class="btn" onclick="document.location='viewessay?essayid={{ row['id'] }}'">View</button></a></td>
            </tr>   
        {% endfor %}
    </table>


    <br/><br/>

</div>
{% endblock %}




