<h1>Login</h1>
<%= @student %>
<form action="/login" method="post">
    Student ID: <input type="text" name="username" value=""/>
    <input type="submit" class="btn" name="bsubmit" value="Login"/>
</form>

