<h1>Admin login</h1>

<%= form_tag("/admin_login", method: "post") do %>
    Admin: <input type="text" name="admin" value=""/>
    <input type="submit" class="btn" name="bsubmit" value="Login"/>
<% end %>

